@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

.cm-s-xq-dark { 
	font-family: 'Source Code Pro', sans-serif;
}

.CodeMirror-scroll {
	height: 90%;
}

.hidden {
	display:none;
}

#explorer-window{
    float:left;
    width:300px;
	height:100%;
    overflow:auto;
    border:1px solid black;
}
#explorer-window ul {
    list-style-type:none;
}
#explorer-window a {
    padding-left:18px;
    background-image:url('/static/images/explorer-sprite.png');
    background-repeat:no-repeat;
}
#explorer-window a.directory.open {
    background-position: 0px -26px;
}
#explorer-window a.file {
    background-position: 0px -52px;
}

#files-list {
	position:relative;
	padding:0 0 1em 1em;
	margin:0;
	list-style:none;
	line-height:1em;
}
#files-list li {
	float:left;
	margin:0;
	padding:0;
}
#files-list a.file-close {
    position:relative;
    left:-14px;
}
#files-list a.file-title {
	color:#444;
	text-decoration:none;
	font-weight:bold;
	background:#ddd;
	margin:0;
	padding:0.25em 1em;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-right:1px solid #aaa;
}
#files-list a.file-title:hover,
#files-list a.file-title:active,
#files-list a.file-title.open {
	background:#bbb;
}
#files-list a.file-title.open {
	position:relative;
}